<table class="crud-table meetings-table" cellpadding="0" cellspacing="0">
  <thead>
    <tr>
      <th>Date</th>
      <th class="money not-mobile">Worldwide</th>
      <th class="money not-mobile">Local</th>
      <th class="money not-mobile">Cash</th>
      <th class="money not-mobile">Cheques</th>
      <th class="not-mobile">Cancellation</th>
      <th class="money">Total</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {{#each sortedList as |meeting|}}
      <tr>
        <td>{{meeting.date}}</td>
        <td class="money not-mobile">{{money meeting.worldwide}}</td>
        <td class="money not-mobile">{{money meeting.local}}</td>
        <td class="money not-mobile">{{money meeting.cash}}</td>
        <td class="money not-mobile">{{money meeting.cheques}}</td>
        <td class="not-mobile">{{meeting.cancellation}}</td>
        <td class="money">{{money meeting.total}}</td>
        <td class="actions">
          <button class="view mobile-only" {{action "view" meeting}}>View</button>
          <button class="delete" {{action "remove" meeting}}>Delete</button>
        </td>
      </tr>
    {{/each}}
</tbody>
</table>

{{#if viewItem}}
  {{#modal-dialog hasOverlay=true translucentOverlay=true onClickOverlay=(action toggleProperty "viewItem")}}
    {{meeting-form model=viewItem class="popup-content" title="Meeting Details"}}
  {{/modal-dialog}}
{{/if}}
