<fieldset>
  <legend>{{title}}</legend>
  {{date-field value=model.date}}
  {{money-field title="Local" value=model.local}}
  {{money-field title="Worldwide" value=model.worldwide}}
  {{money-field title="Cash" value=model.cash}}
  {{money-field title="Cheques" value=model.cheques}}
  <div class="submit">
    <button type="submit">{{submitText}}</button>
  </div>
</fieldset>
