<fieldset>
  <legend>{{title}}</legend>
  {{date-field value=model.date disabled=disabled}}
  {{money-field title="Worldwide" value=model.worldwide disabled=disabled}}
  {{money-field title="Local" value=model.local disabled=disabled}}
  {{money-field title="Cash" value=model.cash disabled=disabled}}
  {{money-field title="Cheques" value=model.cheques disabled=disabled}}
  {{total-field value=total}}
  {{#if submit}}
    <div class="submit">
      <button type="submit">{{submitText}}</button>
    </div>
  {{/if}}
</fieldset>
