<table class="outgoing-cheques-table" cellpadding="0" cellspacing="0">
  <thead>
    <tr>
      <th>Issue Date</th>
      <th class="not-mobile">Processed Date</th>
      <th class="not-mobile">Cheque Id</th>
      <th class="not-mobile">Notes</th>
      <th>Value</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {{#each sortedList as |outgoingCheque|}}
      <tr class="{{if outgoingCheque.processedDate "processed" "unprocessed"}}">
        <td>{{outgoingCheque.issueDate}}</td>
        <td class="not-mobile">
          {{pikaday-input value=(readonly outgoingCheque.processedDate) onSelection=(action "setProcessedDate" outgoingCheque) format="YYYY-MM-DD"}}
        </td>
        <td class="not-mobile">{{outgoingCheque.chequeId}}</td>
        <td class="not-mobile">{{outgoingCheque.notes}}</td>
        <td class="money">{{money outgoingCheque.value}}</td>
        <td class="actions">
          <button class="view mobile-only" {{action "view" outgoingCheque}}>View</button>
          <button class="update not-mobile" {{action "update" outgoingCheque}}>Update</button>
          <button class="delete" {{action "remove" outgoingCheque}}>Delete</button>
        </td>
      </tr>
    {{/each}}
</tbody>
</table>

{{#if viewItem}}
  {{#modal-dialog hasOverlay=true translucentOverlay=true onClickOverlay=(action toggleProperty "viewItem")}}
    {{outgoing-cheque-form model=viewItem class="popup-content" update=true submit=(action "update" viewItem)}}
  {{/modal-dialog}}
{{/if}}
