<fieldset>
  <legend>{{title}}</legend>
  {{date-field title="Issue Date" value=model.issueDate disabled=(or disabled update)}}
  {{date-field title="Processed Date" value=model.processedDate disabled=disabled}}
  {{text-field title="Cheque Id" value=model.chequeId disabled=(or disabled update)}}
  {{text-field title="Notes" value=model.notes disabled=(or disabled update)}}
  {{money-field title="Value" value=model.value disabled=(or disabled update)}}
  {{#if submit}}
    <div class="submit">
      <button type="submit">{{submitText}}</button>
    </div>
  {{/if}}
</fieldset>
