<fieldset>
  <legend>{{title}}</legend>
  {{money-field title="Opening Balance" value=model.openingBalance}}
  {{money-field title="Default Outgoing Cheque Amount" value=model.defaultOutgoingChequeAmt}}
  {{text-field title="Congregation" value=model.congregation}}
  {{text-field title="City" value=model.city}}
  {{text-field title="State" value=model.state}}
  {{money-field title="KHAHC" value=model.khahc}}
  {{money-field title="GAA" value=model.gaa}}
  {{money-field title="COAA" value=model.coaa}}
  {{money-field title="CT" value=model.ct}}
  <div class="submit">
    <button type="submit">{{submitText}}</button>
  </div>
</fieldset>
