<fieldset>
  <legend>{{title}}</legend>
  {{date-field value=model.date disabled=disabled}}
  {{date-field title="Last Meeting Date" value=model.forLastMeeting disabled=disabled}}
  {{text-field title="Transfer Id" value=model.transferId disabled=disabled}}
  {{money-field title="Worldwide (Box)" value=model.worldwide disabled=disabled}}
  {{money-field title="Worldwide (Resolution)" value=model.worldwideResolution disabled=disabled}}
  {{money-field title="KHAHC" value=model.khahc disabled=disabled}}
  {{money-field title="GAA" value=model.gaa disabled=disabled}}
  {{money-field title="COAA" value=model.coaa disabled=disabled}}
  {{money-field title="CT" value=model.ct disabled=disabled}}

  {{total-field value=total}}
  {{#if submit}}
    <div class="submit">
      <button type="submit">{{submitText}}</button>
    </div>
  {{/if}}
</fieldset>
