<table class="wefts-table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Last Meeting</th>
      <th>TransferId</th>
      <th>KHAHC</th>
      <th>GAA</th>
      <th>COAA</th>
      <th>CT</th>
      <th>Worldwide</th>
      <th>Total</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {{#each sortedList as |wefts|}}
      <tr>
        <td class="wefts-date">{{wefts.date}}</td>
        <td class="wefts-forLastMeeting">{{wefts.forLastMeeting}}</td>
        <td class="wefts-transferId">{{wefts.transferId}}</td>
        <td class="wefts-cash">{{money wefts.khahc}}</td>
        <td class="wefts-cash">{{money wefts.gaa}}</td>
        <td class="wefts-cash">{{money wefts.coaa}}</td>
        <td class="wefts-cash">{{money wefts.ct}}</td>
        <td class="wefts-cash">{{money wefts.worldwide}}</td>
        <td class="wefts-cash">{{money wefts.total}}</td>
        <td>
          <button class="delete" {{action "remove" wefts}}>Delete</button>
        </td>
      </tr>
    {{/each}}
</tbody>
</table>
