<form class="print-form">
  <div class="report-actions">
    <button type="button" {{action "print"}}>Print</button>
    {{#link-to "statement" (query-params month=model.monthParam)}}<button>Statement</button>{{/link-to}}
    {{#link-to "s30" (query-params month=model.monthParam)}}<button>S30</button>{{/link-to}}
    {{#link-to "s26" (query-params month=model.prevMonthParam)}}<button>Prev</button>{{/link-to}}
    {{#link-to "s26" (query-params month=model.nextMonthParam)}}<button>Next</button>{{/link-to}}
  </div>
  {{warning-list warnings=model.warnings}}
</form>

<svg xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="s26-page1" viewBox="0 0 1700 2200">
  <image width="1700" height="2200" xlink:href="assets/images/S-26-1.png" />

  <text x="317" y="138" text-anchor="middle" font-size="30">{{model.congregation}}</text>
  <text x="789" y="138" text-anchor="middle" font-size="30">{{model.city}}</text>
  <text x="1105" y="138" text-anchor="middle" font-size="30">{{model.state}}</text>
  <text x="1369" y="138" text-anchor="middle" font-size="30">{{model.month}}</text>
  <text x="1586" y="138" text-anchor="middle" font-size="30">{{model.year}}</text>

  {{#each model.rows as |row|}}
    <text x="112" y="{{add 313 (mult row.index 33.2)}}" text-anchor="end" font-size="24">{{row.date}}</text>
    <text x="124" y="{{add 313 (mult row.index 33.2)}}" text-anchor="start" font-size="24">{{row.description}}</text>
    <text x="724" y="{{add 313 (mult row.index 33.2)}}" text-anchor="middle" font-size="24">{{row.tc}}</text>
    <text x="880" y="{{add 313 (mult row.index 33.2)}}" text-anchor="end" font-size="24">{{money row.receiptsIn}}</text>
    <text x="1030" y="{{add 313 (mult row.index 33.2)}}" text-anchor="end" font-size="24">{{money row.receiptsOut}}</text>
    <text x="1179" y="{{add 313 (mult row.index 33.2)}}" text-anchor="end" font-size="24">{{money row.checkingAccountIn}}</text>
    <text x="1328" y="{{add 313 (mult row.index 33.2)}}" text-anchor="end" font-size="24">{{money row.checkingAccountOut}}</text>

    {{#each row.subRows as |subRow index|}}
      <text x="144" y="{{add 313 (mult (add 1 row.index index) 33.2)}}" text-anchor="start" font-size="24">{{subRow}}</text>
    {{/each}}
  {{/each}}

  <text x="880" y="2058" text-anchor="end" font-size="24">{{money model.receiptsIn}}</text>
  <text x="1030" y="2058" text-anchor="end" font-size="24">{{money model.receiptsOut}}</text>
  <text x="1179" y="2058" text-anchor="end" font-size="24">{{money model.checkingAccountIn}}</text>
  <text x="1328" y="2058" text-anchor="end" font-size="24">{{money model.checkingAccountOut}}</text>
</svg>

<svg xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="s26-page2" viewBox="0 0 1700 2200">
  <image width="1700" height="2200" xlink:href="assets/images/S-26-2.png" />

  <text x="880" y="224" text-anchor="end" font-size="24">{{money model.receiptsIn}}</text>
  <text x="1030" y="224" text-anchor="end" font-size="24">{{money model.receiptsOut}}</text>
  <text x="1179" y="224" text-anchor="end" font-size="24">{{money model.checkingAccountIn}}</text>
  <text x="1328" y="224" text-anchor="end" font-size="24">{{money model.checkingAccountOut}}</text>

  <text x="880" y="1004" text-anchor="end" font-size="24">{{money model.receiptsIn}}</text>
  <text x="1030" y="1004" text-anchor="end" font-size="24">{{money model.receiptsOut}}</text>
  <text x="1179" y="1004" text-anchor="end" font-size="24">{{money model.checkingAccountIn}}</text>
  <text x="1328" y="1004" text-anchor="end" font-size="24">{{money model.checkingAccountOut}}</text>

  <text x="621" y="1158" text-anchor="middle" font-size="24">{{model.monthEnding}}</text>

  <text x="560" y="1291" text-anchor="end" font-size="24">{{money model.receiptsIn}}</text>
  <text x="560" y="1324" text-anchor="end" font-size="24">{{money model.receiptsOut}}</text>
  <text x="810" y="1356" text-anchor="end" font-size="24">{{money model.receiptsBalance}}</text>

  <text x="560" y="1502" text-anchor="end" font-size="24">{{money model.openingBalance}}</text>
  <text x="560" y="1536" text-anchor="end" font-size="24">{{money model.checkingAccountIn}}</text>
  <text x="560" y="1568" text-anchor="end" font-size="24">{{money model.checkingAccountOut}}</text>
  <text x="810" y="1602" text-anchor="end" font-size="24">{{money model.closingAccountBalance}}</text>

  <text x="560" y="1748" text-anchor="end" font-size="24">{{money model.otherBalance}}</text>
  <text x="810" y="1846" text-anchor="end" font-size="24">{{money model.otherBalance}}</text>

  <text x="810" y="1917" text-anchor="end" font-size="24">{{money model.totalAtEndOfMonth}}</text>

</svg>
