<form class="print-form">
  <div class="actions">
    <button type="button" {{action "print"}}>Print</button>
    {{#link-to "statement" (query-params month=model.monthParam)}}<button>Statement</button>{{/link-to}}
    {{#link-to "s26" (query-params month=model.monthParam)}}<button>S26</button>{{/link-to}}
    {{#link-to "s30" (query-params month=model.prevMonthParam)}}<button>Prev</button>{{/link-to}}
    {{#link-to "s30" (query-params month=model.nextMonthParam)}}<button>Next</button>{{/link-to}}
  </div>
  {{warning-list warnings=model.warnings}}
</form>


<svg xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="s30-page1" viewBox="0 0 1700 2200">
  <image width="1700" height="2200" xlink:href="assets/images/S-30-1.png" />

  <text x="681" y="336" text-anchor="middle" font-size="30">{{model.congregation}}</text>
  <text x="1378" y="336" text-anchor="middle" font-size="30">{{model.month}} {{model.year}}</text>
  <text x="1505" y="573" text-anchor="end" font-size="30">{{money model.openingBalance}}</text>

  {{#each model.localIncomeItems as |item index|}}
    <text x="188" y="{{add 745 (mult index 50)}}" font-size="30">{{item.title}}</text>
    <text x="992" y="{{add 745 (mult index 50)}}" text-anchor="end" font-size="30">{{money item.value}}</text>
  {{/each}}

  <text x="1238" y="945" text-anchor="end" font-size="30">{{money model.localIncome}}</text>

  {{#each model.localExpenditureItems as |item index|}}
    <text x="188" y="{{add 1090 (mult index 50)}}" font-size="30">{{item.title}}</text>
    <text x="992" y="{{add 1090 (mult index 50)}}" text-anchor="end" font-size="30">{{money item.value}}</text>
  {{/each}}

  <text x="1238" y="1490" text-anchor="end" font-size="30">{{money model.localExpenditure}}</text>

  <text x="1505" y="1540" text-anchor="end" font-size="30">{{money model.monthBalance}}</text>
  <text x="1505" y="1590" text-anchor="end" font-size="30">{{money model.closingBalance}}</text>
  <text x="1505" y="1984" text-anchor="end" font-size="30">{{money model.closingBalance}}</text>

</svg>

<svg xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="s30-page2" viewBox="0 0 1700 2200">
  <image width="1700" height="2200" xlink:href="assets/images/S-30-2.png" />

  <text x="1501" y="162" text-anchor="end" font-size="24">{{money model.openingBalance}}</text>
  <text x="993" y="294" text-anchor="end" font-size="24">{{money model.localIncome}}</text>
  <text x="993" y="394" text-anchor="end" font-size="24">{{money model.worldwide}}</text>
  <text x="1239" y="541" text-anchor="end" font-size="24">{{money model.income}}</text>
  <text x="993" y="679" text-anchor="end" font-size="24">{{money model.localExpenditure}}</text>
  <text x="993" y="785" text-anchor="end" font-size="24">{{money model.worldwide}}</text>
  <text x="1228" y="885" text-anchor="end" font-size="24">{{money model.expenditure}}</text>
  <text x="1506" y="1027" text-anchor="end" font-size="24">{{money model.closingBalance}}</text>
  <text x="1332" y="1143" text-anchor="middle" font-size="24">{{model.accountsServantName}}</text>
  <text x="484" y="1577" text-anchor="middle" font-size="24">{{model.month}}</text>
  <text x="1197" y="1577" text-anchor="middle" font-size="24">{{money model.localIncome}}</text>
  <text x="716" y="1659" text-anchor="middle" font-size="24">{{money model.localExpenditure}}</text>
  <text x="1421" y="1659" text-anchor="middle" font-size="24">{{money model.closingBalance}}</text>
  <text x="294" y="1825" text-anchor="middle" font-size="24">{{money model.worldwide}}</text>

</svg>
