{{report-menu
  route="statement"
  monthParam=(readonly model.monthParam)
  warnings=(readonly model.warnings)}}

<div class="statement-page1">
  <h1>{{model.month}} Statement Reconcilliation</h1>

  <p>Actual values in account usually differ from statement due to transactions not yet processed by bank</p>
  <div class="table-container">
    <table class="crud-table statment-table" cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <th></th>
          <th class="money">Actual Funds in Account</th>
          <th class="money">Value Shown on Bank Statement</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Opening Balance</td>
          <td class="money">{{money model.openingBalance}}</td>
          <td class="money">{{money model.openingStatement}}</td>
        </tr>
        <tr>
          <td>Month Transaction Total</td>
          <td class="money">{{money model.monthBalance}}</td>
          <td class="money">{{money model.monthStatement}}</td>
        </tr>
        <tr class="bold">
          <td>Closing Balance</td>
          <td class="money">{{money model.closingBalance}}</td>
          <td class="money">{{money model.closingStatement}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  {{#if model.notInOpening.length}}
    <h2>Not Yet Processed by Bank as of Date of Opening Balance</h2>

    <div class="table-container">
      <table class="crud-table not-in-closing-table" cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <th></th>
            <th>Date</th>
            <th>Statement Date</th>
            <th class="money">Value</th>
          </tr>
        </thead>
        <tbody>
          {{#each model.notInOpening as |notIn|}}
          <tr>
            <td>{{notIn.type}}</td>
            <td>{{notIn.date}}</td>
            <td>{{notIn.statementDate}}</td>
            <td class="money">{{money notIn.value}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{/if}}


  {{#if model.notInClosing.length}}
    <h2>Not Yet Processed by Bank as of Date of Closing Balance</h2>

    <div class="table-container">
      <table class="crud-table not-in-opening-table" cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <th></th>
            <th>Date</th>
            <th>Statement Date</th>
            <th class="money">Value</th>
          </tr>
        </thead>
        <tbody>
          {{#each model.notInClosing as |notIn|}}
          <tr>
            <td>{{notIn.type}}</td>
            <td>{{notIn.date}}</td>
            <td>{{notIn.statementDate}}</td>
            <td class="money">{{money notIn.value}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{/if}}

  <h2>Cheque Payment and Deposit Register</h2>

  <div class="table-container">
    <table class="crud-table register-table" cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th class="money">Value</th>
          <th class="money">Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr class="total">
          <td>Opening Balance</td>
          <td></td>
          <td></td>
          <td class="money">{{money model.openingBalance}}</td>
        </tr>
        {{#each model.rows as |row|}}
        <tr>
          <td>{{row.date}}</td>
          <td>{{row.description}}</td>
          <td class="money">{{money row.value}}</td>
          <td class="money">{{money row.balance}}</td>
        </tr>
        {{/each}}
        <tr class="total bold">
          <td>Closing Balance</td>
          <td></td>
          <td></td>
          <td class="money">{{money model.closingBalance}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="statement-page2">
  <h1>{{model.month}} Bank Statement Reconcilliation</h1>
  <div class="step">
    <div class="num">1.</div>
    <div class="description">Balance shown on bank statement</div>
    <div class="subtotal">
      <div class="subtotal-inner">
        <div class="currency">$</div>
        <div class="amt">{{money model.closingStatement}}</div>
      </div>
    </div>
  </div>
  <div class="step">
    <div class="num">2.</div>
    <div class="description">All deposits recorded in your checkbook but not shown on statement</div>
    <div class="subtotal">
      <div class="subtotal-inner">
        <div class="currency">$</div>
        <div class="amt">{{money model.notInClosingTotal}}</div>
      </div>
    </div>
  </div>
  <div class="step">
    <div class="num">3.</div>
    <div class="description">Total of lines 1 and 2</div>
    <div class="subtotal">
      <div class="subtotal-inner">
        <div class="currency">$</div>
        <div class="amt">{{money model.closingBalance}}</div>
      </div>
    </div>
  </div>
  <div class="step">
    <div class="num">4.</div>
    <div class="description">
      <div>All checks/electronic funds transfers not yet paid by bank:</div>
      <div class="substeps">
        {{#each model.notInClosing as |notIn|}}
          <div class="step">
            <div class="description">{{notIn.description}}</div>
            <div class="subtotal">
              <div class="subtotal-inner">
                <div class="currency">$</div>
                <div class="amt">{{money notIn.value}}</div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="step">
    <div class="num">5.</div>
    <div class="description">All checks/electronic funds transfers not yet paid by bank:</div>
    <div class="subtotal">
      <div class="subtotal-inner">
        <div class="currency">$</div>
        <div class="amt">{{money model.notInClosingTotal}}</div>
      </div>
    </div>
  </div>
  <div class="step">
    <div class="num">5.</div>
    <div class="description">
      Reconciled bank balance
    </div>
    <div class="subtotal">
      <div class="subtotal-inner">
        <div class="currency">$</div>
        <div class="amt">{{money model.closingBalance}}</div>
      </div>
    </div>
  </div>
</div>
